<h1>Listing entries <%= 'by Name' if params[:by_name] %></h1>

<p>
  <% if params[:by_name] -%>
    <%= link_to 'By event', entries_path %>
  <% else -%>
    <%= link_to 'By name', entries_path(by_name: true) %>
  <% end -%>
</p>

<p>
  <%= link_to 'New Entry', new_entry_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Last name</th>
      <th>First name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Seed Score</th>
      <th>Affiliation</th>
      <th>Event</th>
      <th>Lightweight</th>
      <th>Age</th>
      <th>DOB</th>
      <th>Responsible Party</th>
      <th>Waiver</th>
      <th>Registered</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| -%>
      <tr id="<%= dom_id(entry) %>">
        <td><%= entry.last_name %></td>
        <td><%= entry.first_name %></td>
        <td><%= entry.address %></td>
        <td><%= entry.phone %></td>
        <td><%= entry.email %></td>
        <td class="numeric"><%= entry.score %></td>
        <td><%= entry.affiliation %></td>
        <td><%= entry.event %></td>
        <td><%= entry.lightweight? ? 'Yes' : 'No' %></td>
        <td class="numeric"><%= entry.age %></td>
        <td><%= entry.dob %></td>
        <td><%= entry.responsible_party %></td>
        <td id="<%= dom_id(entry, 'waiver') %>">
          <%= link_to(entry.waiver? ? 'Yes' : 'No', waiver_entry_path(entry), remote: true, method: :post) %>
        </td>
        <td><%= entry.registered_at %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to('Destroy', entry, { method: :delete,
                          confirm: ["Delete #{entry} permanently?", "There is no UNDO!",
                                    'Are you sure?',].join("\n\n"), }) %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<br />
<p>
  <%= link_to 'New Entry', new_entry_path %>
</p>

<%= form_tag(import_entries_path, multipart: true) do |f| -%>
  <fieldset>
    <legend>Upload many registrations</legend>
    <table>
      <caption>Expected Column Headings</caption>
      <tbody>
        <tr>
          <td>registered_at</td>
          <td>full_name</td>
          <td>address</td>
          <td>phone</td>
          <td>email</td>
          <td>score</td>
          <td>affiliation</td>
          <td>event</td>
          <td>lightweight</td>
          <td>age</td>
          <td>responsible_party</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>waiver_text</td>
          <td>registered_on</td>
        </tr>
      </tbody>
    </table>

    <div class="field">
      <%= label :data, 'CSV File' %>
      <%= file_field_tag :data %>
    </div>
    <div class="actions">
      <%= submit_tag 'Upload' %>
    </div>
  </fieldset>
<% end -%>
