<h1>Listing races</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Start at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @races.each do |race| -%>
      <tr>
        <td><%= race.position %></td>
        <td><%= race.start_at %></td>
        <td><%= link_to 'Show', race %></td>
        <td><%= link_to 'Edit', edit_race_path(race) %></td>
        <td><%= link_to 'Destroy', race, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<br />

<%= link_to 'New Race', new_race_path %>
