<!DOCTYPE html>
<html>
<head>
  <title>CJRC Indoor Rowing Championship</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
    <%= link_to(image_tag('logo.png'), '/') %>
    <h1>CJRC Indoor Rowing Championship</h1>
  </div>
  <div class="clear"></div>
  <h2>Select an option</h2>

  <%= flash_messages %>

  <ul>
    <li><%= link_to "Events",  events_path %></li>
    <li><%= link_to "Entries", entries_path %></li>
    <li><%= link_to "Races",   races_path %></li>
    <li><%= link_to "Assignments", assignments_path %></li>
  </ul>
  <div id="footer">&nbsp;</div>
</body>
</html>
