<h1>Listing events</h1>

<p>
  <%= link_to 'New Event', new_event_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| -%>
      <tr>
        <td><%= event.number %></td>
        <td><%= event.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<br />

<p>
  <%= link_to 'New Event', new_event_path %>
</p>
